body{
    margin: 0px;  
    padding:0px;
    background-color: ghostwhite;
    font-family:'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
}
input{
    border: none;
    font-weight: bold;
}
input:focus{
    outline:none !important;
}
button:focus{
    outline:none !important;
}
button:hover{
    cursor: pointer;
}
.overlayMessage{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #00000090;
    text-align: center;
    vertical-align:center ;
    color: white;
    font-size: xx-large;
}
.headerContainer{
    background: url("./assets/hero-background.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover ;
    display: flex;
    flex-direction: column;
    min-height: 300px;
    width:100%;
    text-align: center;
    justify-content: center;    
}
.header{
    font-family: sans-serif;
    font-size: x-large;
    font-weight: 800;
    color: white;
}
.songArtist{
    font-weight: 800;
    display: inline;

}
.songTitle{
    display: inline;
}
.songLyrics{
    margin-top: 10px;
}
.songCard{
    background-color: white;
    box-shadow: 5px 5px #e4e4e4;
    color:black;
    min-width: 30%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left:5px;
    padding-right: 5px;
    padding-top:10px;
    padding-bottom: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    max-width: 500px;
}
.showLyricsButton{
    background-color: blue;
    padding:5px;
    color: white;
    border-radius: 5px;
    font-size: 14px;
    width: fit-content;
    margin-left: 10px;
}
.searchTextBox{
    background-color: white;
    border-radius: 10px;
    min-width: 30%;
    max-width: fit-content;
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-self: center;
    margin-top: 30px;
    padding: 5px;
    max-width: 500px;
}
.searchButton{
    background-color: blue;
    padding: 5px 8px;
    color: white;
    border-radius: 10px;
}
.showLyricsButton:hover{
    cursor: pointer;
}
#paginationContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.paginationButton{
    background-color: blue;
    padding: 5px 8px;
    color: white;
    border-radius: 5px;
    margin: 10px;
    width:70px;
    text-align: center;
}
.paginationButton:hover{
    cursor: pointer;
}
#songSearhContiner{
    display: grid;
    justify-content: center;
}
#songLyricsContainer{
    padding: 10px;
    width: max-content;
    float: none;
    margin: auto;
}